<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <!-- 에어갭용 로컬 피드 (Download-Packages.ps1로 사전 다운로드) -->
    <add key="LocalPackages" value="./LocalPackages" />
    <!-- 인터넷 환경에서 패키지 다운로드 시 사용 -->
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
  </packageSources>
  <packageSourceMapping>
    <packageSource key="LocalPackages">
      <package pattern="*" />
    </packageSource>
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
  </packageSourceMapping>
</configuration>
